

.admin-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Full height */
    background-color: #e8e8e8;
    /* Light blue background color */
    margin: 0;
    /* Remove default margin */
    font-family: Arial, sans-serif;
    /* Set a clean font */
    width:221vh;
}


.flex {
    display: flex;
    flex-grow: 1;
    /* Allow content to grow */
}

.content {
    flex-grow: 1;
    /* Take up remaining space */
    padding: 20px;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    text-align: center;
    /* Center text in the content area */
}

.access-denied {
    text-align: center;
    margin-top: 250px;
}


.login-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717; /* Dark background */
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.login-button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #007a74; /* Light blue circles */
    border-radius: 50%;
    transition: .6s ease;
}

.login-button span:nth-child(6) {
    position: relative; /* Keep the text in normal flow */
}

.login-button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.login-button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.login-button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.login-button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.login-button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.login-button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4); /* Scale effect on hover */
    transition: 1.5s ease; /* Smooth transition */
}
